body{
    background-color: #fdf2de;
    font: 16px/1.5 "Maven Pro","Noto Sans KR",sans-serif;
   
    
}
a{
    color: inherit;
    text-decoration: none;
}
.form-wrap{
    background: white;
    border-radius: 20px;
    width: 410px;
    height: 746px;
    box-shadow: 8px 6px 3px #f8d28e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    font-size: 22;
    font-weight: 600;
}